<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>常用网址 - JavaScript</title>
    <link type="text/css" rel="stylesheet" href="../front/css/ui.main.css" />
    <script type="text/javascript" src="../front/js/libs/modernizr.js"></script>
</head>
<body>
<div class="nav-wrap">
    <div class="menu">
        <ul id="headNav" class="nav-list">
            <li><a href="../index.html">home</a><i></i></li>
            <li><a class="cur" href="js.html">javascript</a><i></i></li>
            <li><a href="jq.html">jquery</a><i></i></li>
            <li><a href="css.html">CSS</a><i></i></li>
            <li><a href="html5.html">html5</a><i></i></li>
            <li><a href="ui.html">UI</a><i></i></li>
            <li><a href="python.html">python</a><i></i></li>
            <li><a href="ide.html">ide</a><i></i></li>
            <li><a href="other.html">other</a></li>
        </ul>
    </div>
</div>
<div id="homeContainer" class="container">
    <div class="category clearfix">
        <ul id="nav" class="nav clearfix">
            <li class="cur"><a hidefocus="true" href="#">Base</a></li>
            <li><a hidefocus="true" href="#">Book</a></li>
            <li><a hidefocus="true" href="#">Blog</a></li>
            <li><a hidefocus="true" href="#">Libs</a></li>
            <li><a hidefocus="true" href="#">Guide</a></li>
            <li><a hidefocus="true" href="#">Code</a></li>
            <li><a hidefocus="true" href="#">Module</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="content clearfix">
            <div class="list">
                <h1>Api</h1>
                <div class="l-inner">
                    <a href="http://www.w3school.com.cn"  title="" target="_blank">w3school</a>
                    <a href="http://w3help.org/zh-cn/" title="" target="_blank">w3help</a>
                    <a href="http://xiebiji.com/works/mt1.2cn/Docs/index.html" title="" target="_blank">Mootool</a>
                </div>
            </div>
            <div class="list">
                <h1>Core</h1>
                <div class="l-inner">
                    <a href="http://club.topsage.com/thread-2636348-1-1.html" title="" title="" target="_blank">表达式，语句，函数</a>
                    <a href="http://www.cnblogs.com/TomXu/archive/2011/12/29/2290308.html" title="" target="_blank">深入理解</a>
                    <a href="http://www.cnblogs.com/justinw/archive/2010/05/04/1727295.html" title="" target="_blank">this指向</a>
                    <a href="http://www.linuxfly.org/post/524/" title="" target="_blank">in操作符</a>
                </div>
            </div>
            <div class="list">
                <h1>REG</h1>
                <div class="l-inner">
                    <a href="http://deerchao.net/tutorials/regex/regex.htm" title="" target="_blank">30天正则</a>
                    <a href="http://www.cnblogs.com/rubylouvre/archive/2010/03/09/1681222.html" title="" target="_blank">正美正则</a>
                    <a href="http://www.tracefact.net/document/Regular-Expression-Tutorial.pdf" title="" target="_blank">正则PDF</a>
                    <a href="http://www.cnblogs.com/sadier/articles/149209.html" title="" target="_blank">经典正则</a>
                    <a href="http://www.cnblogs.com/libinqq/archive/2008/07/31/1257699.html" title="" target="_blank">温故知新正则</a>
                    <a href="http://www.cnblogs.com/dragon/archive/2006/05/08/394078.html" title="" target="_blank">深入浅出1</a>
                    <a href="http://www.cnblogs.com/dragon/archive/2006/05/09/394923.html" title="" target="_blank">深入浅出2</a>
                </div>
            </div>
            <div class="list">
                <h1>Dialog</h1>
                <div class="l-inner">
                    <a href="http://www.planeart.cn/demo/artDialog/" title="" target="_blank">Artdialog</a>
                    <a href="http://www.cnblogs.com/cloudgamer/archive/2010/10/11/AlertBox.html" title="" target="_blank">AlertBox</a>
                    <a href="http://bbs.phpchina.com" title="" target="_blank">phpchina</a>
                    <a href="http://bbs.php100.com" title="" target="_blank">php100</a>
                </div>
            </div>
            <div class="list">
                <h1>Number</h1>
                <div class="l-inner">
                    <a href="http://blog.csdn.net/aimingoo/article/details/6634977" title="再谈JavaScript的数据类型问题" target="_blank">再谈JavaScript的数据类型问题 </a>
                </div>
            </div>
            <div class="list">
                <h1>String</h1>
                <div class="l-inner">
                    <a href="http://news.cnblogs.com/n/128394/" title="" target="_blank">数组的特殊用法 </a>
                </div>
            </div>
            <div class="list">
                <h1>Array</h1>
                <div class="l-inner">
                    <a href="http://news.cnblogs.com/n/128394/" title="" target="_blank">数组的特殊用法 </a>
                </div>
            </div>
            <div class="list">
                <h1>Calendar</h1>
                <div class="l-inner">
                    <a href="http://js.fgm.cc/learn/calendar/" title="" target="_blank">calendar</a>
                    <a href="http://fogtower.iteye.com/blog/566854" title="" target="_blank">自己开发的</a>
                </div>
            </div>
            <div class="list">
                <h1>Interview</h1>
                <div class="l-inner">
                    <a href="http://www.csdn.net/article/2012-10-18/2810902-Front-end-Developer-Interview-Questions" title="" target="_blank">面试题</a>
                    <a href="http://www.cnblogs.com/huntbao/archive/2012/02/16/2355126.html" title="" target="_blank">面试题</a>
                    <a href="http://developer.51cto.com/art/201301/375833.htm" title="" target="_blank">人人面试题</a>
                </div>
            </div>
            <div class="list" style="width:60%;">
                <h1>OOP</h1>
                <div class="l-inner">
                    <a href="http://www.w3cfuns.com/forum.php?mod=viewthread&tid=5592065" title="" target="_blank">OOP</a>
                    <a href="http://www.iteye.com/topic/248933" title="" target="_blank">JS继承</a>
                    <a href="http://www.cnblogs.com/sunwangji/archive/2006/08/21/482341.html" title="" target="_blank">caller,callee...</a>
                    <a href="http://msdn.microsoft.com/zh-cn/magazine/cc163419.aspx" title="使用面向对象的技术创建高级 Web 应用程序" target="_blank">msOOP</a>
                    <a href="http://zzy603.iteye.com/blog/973649" title="JS的Object漫想：从现象到“本质”" target="_blank">jsObject</a>
                    <a href="http://www.cnblogs.com/mrsunny/archive/2011/05/09/2041185.html" title="javascript 类属性、类方法、类实例、实例属性、实例方法" target="_blank">jsObject2</a>
                    <a href="http://xiebiji.com/2010/01/static_js/?wptheme=Plainscape&ie=1" title="Js中方法类的拟静态属性、公有属性、私有属性" target="_blank">method</a>
                    <a href="http://www.cnblogs.com/jeffwongishandsome/archive/2009/05/17/1457674.html" title="javascript作用域链(Scope Chain)初探" target="_blank">scope</a>
                    <a href="http://www.iteye.com/topic/288808" title="javascript面向对象技术基础(四)" target="_blank">OOP</a>
                    <a href="http://www.cnblogs.com/RicCC/archive/2008/02/15/JavaScript-Object-Model-Execution-Model.html" title="JavaScript对象模型-执行模型 " target="_blank">对象模型</a>
                    <a href="http://www.cnblogs.com/fool/tag/%E7%90%86%E8%A7%A3Javascript/" title="理解Javascript " target="_blank">理解js</a>
                    <a href="http://www.cnblogs.com/qiantuwuliang/archive/2009/10/17/1584998.html" title="JavaScript面向对象-静态方法-私有方法-公有方法-特权方法 " target="_blank">js面向对象</a>
                    <a href="http://topic.csdn.net/u/20110123/15/f71c5ebb-7704-480b-9379-17a96e920fee.html" title="JavaScript对象与继承教程之内置对象（上） " target="_blank">js面向对象</a>
                    <a href="http://topic.csdn.net/u/20110124/21/e6a88be3-d784-4973-b212-35789b05881f.html" title="JavaScript对象与继承教程之内置对象（下） " target="_blank">js面向对象</a>
                    <a href="http://bbs.51js.com/viewthread.php?tid=85245&highlight=scope" title="Scope Chain的问题" target="_blank">Scope Chain的问题</a>
                    <a href="http://bbs.51js.com/viewthread.php?tid=85310&highlight=%D7%F7%D3%C3%D3%F2" title="变量作用域和词法作用域的区别" target="_blank">变量作用域和词法作用域的区别</a>
                    <a href="http://bbs.51js.com/viewthread.php?tid=74299&highlight=" title="JavaScript面向对象的支持" target="_blank">aimigoo</a>
                </div>
            </div>
            <div class="list">
                <h1>Function</h1>
                <div class="l-inner">
                    <a href="http://desert3.iteye.com/blog/1198400" title="JavaScript语言精粹读书笔记- JavaScript函数" target="_blank">Fn</a>
                    <a href="http://chillwarmoon.iteye.com/blog/77123" title="对于javascript的function的总结" target="_blank">Fn总结</a>
                    <a href="http://software.intel.com/zh-cn/articles/javascript-first-class-citizen-function/?cid=sw:prccsdn229032" title="js世界的一等公民函数" target="_blank">一等公民</a>
                    <a href="http://www.cn-cuckoo.com/main/wp-content/uploads/2009/12/named-function-expressions-demystified.html#introduction" title="命名函数表达式探秘" target="_blank">命名函数表达式探秘</a>
                </div>
            </div>
            <div class="list">
                <h1>Tree</h1>
                <div class="l-inner">
                    <a href="http://www.baby666.cn/v3/demo.php#_101" title="" target="_blank">Tree</a>
                </div>
            </div>
            <div class="list">
                <h1>Iframe</h1>
                <div class="l-inner">
                    <a href="http://www.zeali.net/entry/81" title="用javascript动态调整iframe高度" target="_blank">iframe高度</a>
                </div>
            </div>
            <div class="list">
                <h1>Pattern</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/Darren_code/archive/2011/08/31/JavascripDesignPatterns.html" title="" target="_blank">设计模式</a>
                    <a href="http://jayli.github.com/javascript.patterns/" title="" target="_blank">js模式</a>
                </div>
            </div>
            <div class="list">
                <h1>Closure</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/xiaoruoen/archive/2011/09/23/2185832.html" title="" target="_blank">闭包</a>
                    <a href="http://ghsky.com/2010/11/deep-into-javascript-closure-part-two.html" title="" target="_blank">深入闭包</a>
                    <a href="http://www.felixwoo.com/archives/247" title="" target="_blank">深入闭包</a>
                    <a href="http://www.cnblogs.com/hh54188/archive/2012/03/01/2374921.html" title="" target="_blank">简单闭包</a>
                    <a href="http://blog.csdn.net/a569171010/article/details/7484125" title="讲js作用域链或闭包" target="_blank">闭包2</a>
                    <a href="http://bbs.51js.com/viewthread.php?tid=79018&extra=&highlight=%2Bwinter&page=1" title="JS引擎的Closure测试" target="_blank">JS引擎的Closure测试</a>
                    <a href="https://developer.mozilla.org/zh_tw/Core_JavaScript_1.5_%E6%95%99%E5%AD%B8/%E9%96%89%E5%8C%85%E7%9A%84%E9%81%8B%E7%94%A8" title="" target="_blank">mozilla</a>
                </div>
            </div>
            <div class="list">
                <h1>Example</h1>
                <div class="l-inner">
                    <a href="http://www.baby666.cn/v3/demo.php#_101" title="" target="_blank">Tree</a>
                </div>
            </div>
            <div class="list">
                <h1>Video</h1>
                <div class="l-inner">
                    <a href="http://www.verycd.com/topics/2852355/" title="" target="_blank">js-video</a>
                    <a href="http://www.verycd.com/topics/2758420/" title="" target="_blank">jq-video</a>
                </div>
            </div>
            <div class="list">
                <h1>Editor</h1>
                <div class="l-inner">
                    <a href="http://www.kindsoft.net/docs/usage.html" title="" target="_blank">KindEditor</a>
                    <a href="http://ueditor.baidu.com/website/" title="" target="_blank">baiduEditor</a>
                </div>
            </div>
            <div class="list">
                <h1>Share</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/jscode/archive/2012/05/09/2491148.html" title="" target="_blank">Taobao-share</a>
                    <a href="http://www.cnblogs.com/jscode/archive/2012/05/12/2497593.html" title="" target="_blank">收藏夹</a>
                    <a href="https://github.com/alipay/arale/issues/50" title="玉伯的分享" target="_blank">玉伯</a>
                    <a href="http://dancewithnet.com/2009/03/29/douglas-crockford/" title="js大牛" target="_blank">js大牛</a>
                </div>
            </div>
            <div class="list">
                <h1>Json</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/dowinning/archive/2012/04/19/json-jsonp-jquery.html" title="" target="_blank">Json</a>
                    <a href="http://jsonviewer.stack.hu/" title="" target="_blank">Json view</a>
                </div>
            </div>
            <div class="list">
                <h1>Special Column</h1>
                <div class="l-inner">
                    <a href="http://www.ibm.com/developerworks/cn/web/" title="" target="_blank">IBM开发社区</a>
                    <a href="https://developer.mozilla.org/zh-TW/" title="" target="_blank">Mozilla专栏</a>
                    <a href="http://bonsaiden.github.com/JavaScript-Garden/zh/" title="" target="_blank">js秘密花园</a>
                </div>
            </div>
            <div class="list">
                <h1>Tools</h1>
                <div class="l-inner">
                    <a href="http://stylechen.com/parsecolor.html" title="" target="_blank">css颜色值转换</a>
                    <a href="http://jscode.chinacxy.com/" title="" target="_blank">代码演示</a>
                    <a href="http://jsfiddle.net/" title="" target="_blank">代码演示</a>
                    <a href="https://www.stypi.com" title="" target="_blank">代码演示</a>
                    <a href="http://jsbin.com" title="" target="_blank">代码演示</a>
                    <a href="http://runjs.cn/" title="" target="_blank">代码演示</a>
                    <a href="http://lib.sinaapp.com/" title="" target="_blank">libsina</a>
                    <a href="http://www.asp.net/ajaxlibrary/cdn.ashx" title="" target="_blank">ms-cdn</a>
                    <a href="http://goojs.com/all.html" title="" target="_blank">所有的js框架</a>
                    <a href="http://www.ostools.net/" title="" target="_blank">开源工具</a>
                    <a href="http://microjs.com/#loader" title="" target="_blank">找代码库</a>
                </div>
            </div>
            <div class="list">
                <h1>Rules</h1>
                <div class="l-inner">
                    <a href="https://github.com/sofish/idiomatic.js/tree/master/translations/zh_CN" title="书写具备一致风格、通俗易懂 JavaScript 的原则" target="_blank">js原则</a>
                    <a href="http://www.csdn.net/article/2012-10-12/2810689-Google-styleguideN" title="Google的编程样式指南" target="_blank">Google的编程样式指南</a>
                    <a href="http://chajn.org/jsguide/javascriptguide.html" title="google js指南" target="_blank">google js指南</a>
                    <a href="http://en.wikipedia.org/wiki/JSDoc" title="jsdoc" target="_blank">jsdoc</a>
                    <a href="http://wenku.baidu.com/view/fe34e7d528ea81c758f578b5.html" title="js开发规范及经验" target="_blank">开发规范及经验</a>
                    <a href="http://www.wufangbo.com/douban-javascript/" title="豆瓣规范" target="_blank">豆瓣规范</a>
                </div>
            </div>
            <div class="list">
                <h1>Nodejs</h1>
                <div class="l-inner">
                    <a href="http://nodejs.org/" title="" target="_blank">Nodejs</a>
                    <a href="http://www.iteye.com/news/24789" title="node.js相关资源" target="_blank">相关资源</a>
                    <a href="http://www.nodebeginner.org/index-zh-cn.html/" title="" target="_blank">nodejs入门</a>
                    <a href="http://cnodejs.org/" title="" target="_blank">nodejs社区</a>
                </div>
            </div>
            <div class="list">
                <h1>webUI</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/justinw/archive/2010/06/30/1768650.html" title="" target="_blank">15个</a>
                </div>
            </div>
            <div class="list">
                <h1>总结</h1>
                <div class="l-inner">
                    <a href="https://github.com/JacksonTian/fks" title="" target="_blank">前端技能汇总</a>
                </div>
            </div>
            <div class="list">
                <h1>jsTool</h1>
                <div class="l-inner">
                    <a href="http://tool.lu/" target="_blank">toollu</a>
                    <a href="http://marijnhaverbeke.nl/uglifyjs" target="_blank">uglifyjs</a>
                    <a href="http://deerchao.net/tutorials/regex/regex.htm" target="_blank">30正则</a>
                    <a href="http://javawind.net/tools/native2ascii.jsp?action=transform" target="_blank">中文转Unicode</a>
                    <a href="http://tool.lanrentuku.com/zhuanhuan/" target="_blank">懒人转换</a>
                    <a href="http://tool.css-js.com/" target="_blank">css,js压缩工具</a>
                    <a href="http://www.ostools.net/" target="_blank">开源中国在线工具</a>
                </div>
            </div>

        </div>
        <div class="content clearfix none">
            <div class="list">
                <h1>新闻</h1>
                <div class="l-inner">
                    <a href="http://www.sohu.com" title="" target="_blank">搜狐</a>
                    <a href="http://www.sina.com" title="" target="_blank">新浪</a> <a href="http://www.163.com" title="" target="_blank">网易</a>
                    <a href="http://www.qq.com" title="" target="_blank">腾讯</a>
                    <a href="http://www.yahoo.com.cn" title="" target="_blank">雅虎</a>
                </div>
            </div>
            <div class="list">
                <h1>购物</h1>
                <div class="l-inner">
                    <a href="http://www.3.cn" title="" target="_blank">京东</a> <a href="http://www.taobao.com" title="" target="_blank">淘宝</a>
                    <a href="http://www.tmall.com" title="" target="_blank">天猫</a>
                    <a href="http://www.dangdang.com" title="" target="_blank">当当</a>
                    <a href="http://www.joyo.com" title="" target="_blank">卓越</a>
                    <a href="http://www.51buy.com" title="" target="_blank">易迅</a>
                    <a href="http://www.newegg.com.cn" title="" target="_blank">新蛋</a>
                </div>
            </div>
        </div>
        <div class="content clearfix none">
            <div class="list" style="width:61%;height:211px;">
                <h1>Group</h1>
                <div class="l-inner">
                    <a href="http://www.aliued.com/" title="我们设计的界面，并没有几十亿的流量，但每天来自上百个国家的百万商人在使用着。" target="_blank">阿里巴巴 UED</a>
                    <a href="http://www.aliued.cn/" title="" target="_blank">阿里巴巴中国站UED</a>
                    <a href="http://ued.alipay.com/wd/" title="支付宝前端开发车间" target="_blank">支付宝前端开发</a>
                    <a href="http://ued.taobao.com/blog/" title="淘宝网用户体验团队" target="_blank">淘宝UED</a>
                    <a href="http://ued.alimama.com/" title="MED(Marketing Experience Design). 是淘宝营销体验设计部门，为淘宝网的营销产品做体验设计" target="_blank">淘宝MED</a>
                    <a href="http://ued.koubei.com/" title="UED(User Experience Design) 中文意思就是用户体验设计" target="_blank">口碑UED</a>
                    <a href="http://mux.baidu.com/" title="MUX(Mobile User Experience) 百度无线用户体验部" target="_blank">百度MUX</a>
                    <a href="http://www.baiduux.com/" title="泛用户体验平台，是以'用户体验'为核心的跨专业分享平台" target="_blank">百度泛用户体验</a>
                    <a href="http://ueo.baidu.com/" title="百度联盟事业部用户体验团队官方博客" target="_blank">百度联盟用户体验中心</a>
                    <a href="http://www.sndaued.com/blog/" title="专注用户体验，改变生活，让互动娱乐更精彩" target="_blank">盛大游戏UED</a>
                    <a href="http://ued.ctrip.com/blog/" title="这是一个血液中流淌着创意和活力的团队，在越来越关注严谨和灵活的过程中成长起来，我们对前端的需求如此强烈" target="_blank">携程旅游UED</a>
                    <a href="http://cdc.tencent.com/" title="全称是Customer Research &amp; User Experience Design Center（即用户研究与体验设计中心）作为腾讯的核心部门之一" target="_blank">腾讯CDC</a>
                    <a href="http://isd.tencent.com/" title="ISD Webteam是一个设计团队,即腾讯互联网业务系统网站组" target="_blank">腾讯ISD</a>
                    <a href="http://isux.tencent.com/" title="腾讯 ISUX 全称腾讯互联网用户体验设计部 (Internet Service User Experience)，于2011年3月8日正式成立，前身为 ISD Webteam 网站组" target="_blank">腾讯ISUX</a>
                    <a href="http://wsd.tencent.com/" title="腾讯用户体验设计团队. 设计无线,快乐无限" target="_blank">腾讯WSD</a>
                    <a href="http://flashteam.tencent.com/" title="这里有一群可爱的Flash娃，他们热爱ActionScript开发" target="_blank">腾讯Flash Team</a>
                    <a href="http://blog.csdn.net/soso_blog" title=soso更懂你 target="_blank">腾讯soso团队博客</a>
                    <a href="http://tid.tenpay.com/" title="Tenpay Innovation Design, 财付通设计中" target="_blank">财付通TID</a> 
                    <a href="http://ued.5173.com/" title="5173用户体验设计团队（User Experience Design），简称UED，成立于2009年" target="_blank">5173 UED</a>
                    <a href="http://blog.19ued.com/" title="19楼 UED团队" target="_blank">19楼UED</a>
                    <a href="http://fed.renren.com/" title="我们来自人人网，FED是"Front End Develop and Design"的缩写" target="_blank">人人FED</a>
                    <a href="http://q.163.com/mail/" title="网易邮箱UI团队" target="_blank">网易邮箱UI团队</a>
                    <a href="http://www.ued163.com/" title="我们的团队博客，关注用户体验设计、关注web前端开发" target="_blank">网易UED</a>
                    <a href="http://uedc.163.com/" title="网易用户体验设计中心（User Experience Design Center），简称'设计中心（UEDC）'，成立于2008年底" target="_blank">网易UEDC</a>
                    <a href="http://ued.sohu.com/" title="Sohu UED Team就聚集着这样一群人，执着于为用户提供更好的产品和体验，哪怕是对一点点小细节的精益求精" target="_blank">搜狐UED</a>
                    <a href="http://ued.sina.com/" title="一个关注用户体验、关注工作流、关注作品质量的有爱团队" target="_blank">新浪UED</a>
                    <a href="http://ued.iciba.com/" title="爱词霸用户体验团队博客，有关用户体验设计和研究的经验分享" target="_blank">爱词霸UED</a>
                </div>
            </div>
            <div class="list">
                <h1>Other Group</h1>
                <div class="l-inner">
                    <a href="http://www.searchtb.com/" title="淘宝搜索技术blog" target="_blank">淘宝搜索</a>
                    <a href="http://www.alidba.net/" title="这里记录着阿里巴巴数据库团队成员的点点滴滴" target="_blank">Alibaba DBA Team</a>
                    <a href="http://www.tbdata.org/" title="淘宝数据平台与产品部，是淘宝核心的数据平台技术和数据产品研发团队" target="_blank">淘宝Data</a>
                    <a href="http://www.taobaodba.com/" title="淘宝数据库技术团队" target="_blank">淘宝DBA Team</a>
                    <a href="http://rdc.taobao.com/team/jm/" title="我们是淘宝JAVA中间件团队。我们为淘宝网构建JAVA底层架构和基础服务" target="_blank">淘宝JAVA中间件团队</a> 
                    <a href="http://rdc.taobao.com/blog/qa/" title="做测试的行业标准" target="_blank">Taobao QA Team</a>
                    <a href="http://rdc.taobao.com/blog/cs/" title="淘宝核心系统团队隶属于淘宝产品技术部，负责淘宝应用基础平台的研发和搭建" target="_blank">淘宝核心系统团队</a>
                    <a href="http://www.alidw.com" title="阿里巴巴数据仓库部门主要收集公司内外部所有数据" target="_blank">阿里巴巴Data Warehouse</a>
                    <a href="http://tgideas.qq.com/" title="TGideas是腾讯游戏的专业设计团队" target="_blank">腾讯TGideas</a>
                    <a href="http://gdc.qq.com/" title="GDC的前身叫GDT(QQGAME DESIGN TEAM),QQ游戏产品设计中心" target="_blank">腾讯GDC</a>
                </div>
            </div>
            <div class="list" style="width:92%;">
                <h1>Other Group</h1>
                <div class="l-inner">
                    <a href="http://hikejun.com/" target="_blank">Kejun</a>
                    <a href="http://imdonkey.com" target="_blank">Donkey(倔倔)</a>
                    <a href="http://blog.b3inside.com/" target="_blank">蒙晨(波希米亚)</a>
                    <a href="http://www.cnblogs.com/greengnn/" target="_blank">greengnn(老卡)</a>
                    <a href="http://www.gaowhen.com" target="_blank">糖伴西红柿</a>
                    <a href="http://www.dbanotes.net" target="_blank">Fenng</a>
                    <a href="http://sofish.de/" target="_blank">sofish</a> 
                    <a href="http://uicom.net/blog/" target="_blank">白鸦</a> 
                    <a href="http://www.62mm.net/" target="_blank">62mm</a> 
                    <a href="http://www.ioldfish.cn/" target="_blank">伯约(老鱼)</a> 
                    <a href="http://www.planabc.net/" target="_blank">怿飞(圆心,Blank)</a>
                    <a href="http://lifesinger.wordpress.com/" target="_blank">玉伯(lifesinger)</a>
                    <a href="http://www.gracecode.com/" target="_blank">明城(mingcheng)</a>
                    <a href="http://www.ueder.net/" target="_blank">Der(崇志)</a>
                    <a href="http://heiniuhaha.cnblogs.com/" target="_blank">黑妞HAHA</a>
                    <a href="http://www.veryued.org/" target="_blank">飞长</a>
                    <a href="http://www.vilic.info/blog/" target="_blank">Vilic</a>
                    <a href="http://dancewithnet.com" target="_blank">秦歌(Kaven)</a> 
                    <a href="http://blog.csdn.net/emu" target="_blank">Emu(Stone)</a>
                    <a href="http://www.cssforest.org/blog/" target="_blank">Ghost</a>
                    <a href="http://yuguo.us/weblog/" target="_blank">Yuguo</a>
                    <a href="http://www.chouyu.com.cn/" target="_blank">臭鱼</a> 
                    <a href="http://blog.ivane.me/" target="_blank">艾文王</a>
                    <a href="http://www.dengjie.com/" target="_blank">Danger</a>
                    <a href="http://www.qianduan.net/" target="_blank">神飞</a>
                    <a href="http://www.pufen.net/" target="_blank">pufen(飘飘)</a>
                    <a href="http://www.quchao.com" target="_blank">屈超</a>
                    <a href="http://s5s5.me/" target="_blank">米随随</a>
                    <a href="http://ooxx.me/" target="_blank">大猫</a>
                    <a href="http://caib.me/" target="_blank">AVENIR(郑焕义)</a>
                    <a href="http://www.lizhenwen.com/" target="_blank">李振文</a>
                    <a href="http://www.onling.net/blog/" target="_blank">OnLing</a>
                    <a href="http://liuyuntian.com/" target="_blank">Xiaoxiao</a>
                    <a href="http://hiseven.net/" target="_blank">Seven</a>
                    <a href="http://lerroystory.com" target="_blank">Lerroy</a>
                    <a href="http://ofcss.com/" target="_blank">小李刀刀</a>
                    <a href="http://qilei.org/" target="_blank">飞鱼</a>
                    <a href="http://csshouse.net/" target="_blank">Jeanne</a>
                    <a href="http://xiebiji.com/" target="_blank">小JOE</a>
                    <a href="http://tommyfan.com/blog/" target="_blank">偷米饭</a> 
                    <a href="http://www.css88.com/" target="_blank">愚人码头</a> 
                    <a href="http://www.zishu.cn/" target="_blank">子鼠,秀才</a> 
                    <a href="http://adamlu.com/" target="_blank">Adam Lu</a>
                    <a href="http://blog.linxz.de/" target="_blank">林小志</a>
                    <a href="http://ffpan.ctripued.com/" target="_blank">小灰灰</a>
                    <a href="http://www.smallni.com/" target="_blank">smallni</a>
                    <a href="http://blog.bingo929.com/" target="_blank">彬Go</a>
                    <a href="http://www.rokey.net/" target="_blank">Rokey</a>
                    <a href="http://orzl.com/" target="_blank">Evance(布拉格)</a>
                    <a href="http://www.phpfans.org/" target="_blank">深空</a>
                    <a href="http://daimaren.cn/blog/" target="_blank">代码人(tomie)</a>
                    <a href="http://www.designsor.com" target="_blank">小爝(龙啸)</a>
                    <a href="http://woooh.com" target="_blank">Aether</a> 
                    <a href="http://rexsong.com/" target="_blank">一葉千鳥</a> 
                    <a href="http://www.7yue.com/" target="_blank">7月</a>
                    <a href="http://www.webchina110.cn/" target="_blank">周裕波</a>
                    <a href="http://uicss.cn/" target="_blank">崔凯</a>
                    <a href="http://bulaoge.net/?g3g4" target="_blank">勾三股四</a>
                    <a href="http://www.welefen.com/" target="_blank">welefen</a>
                    <a href="http://www.ikent.me/blog/" target="_blank">kent.zhu</a>
                    <a href="http://www.aoao.org.cn/" target="_blank">aoao(嗷嗷)</a>
                    <a href="http://www.imququ.com" target="_blank">JerryQu</a>
                    <a href="http://hx.okvi.com/" target="_blank">胡晓</a>
                    <a href="http://5key.net/blog/" target="_blank">5key</a>
                    <a href="http://www.yaohaixiao.com/" target="_blank">yaohaixiao</a>
                    <a href="http://adamlu.com/" target="_blank">Adam</a>
                    <a href="http://slj.me/" target="_blank">slj(申力军)</a>
                </div>
            </div>
        </div>
        <div class="content clearfix none">
            <div class="list" style="width:60%;">
                <h1>Jquery</h1>
                <div class="l-inner">
                    <a href="http://www.cn-cuckoo.com/deconstructed/index.html" title="" target="_blank">jq解构</a>
                </div>
            </div>
            <div class="list">
                <h1>Prototype</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/NNUF/archive/2012/05/10/2494579.html" title="" target="_blank">Prototype</a>
                    <a href="http://www.cnblogs.com/cangqiong/archive/2007/12/21/1008801.html" title="prototype 1.4注释" target="_blank">prototype1.4注释</a>
                </div>
            </div>
            <div class="list">
                <h1>Seajs</h1>
                <div class="l-inner">
                    <a href="https://github.com/seajs/seajs/issues/305" title="" target="_blank">中文解释</a>
                    <a href="http://websiteui.sinaapp.com/html/api_index.html" title="" target="_blank">seajsAPI</a>
                    <a href="http://cyj.me/why-seajs/zh/" title="" target="_blank">seajs配置</a>
                    <a href="http://www.cnblogs.com/snandy/archive/2012/03/30/2423612.html" title="" target="_blank">seajs用法</a>
                </div>
            </div>
            <div class="list">
                <h1>Modernizr </h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/NetSos/archive/2012/03/26/2418053.html" title="" target="_blank">介绍</a>
                    <a href="http://www.coolicer.com/modernizr%e5%92%8cyepnopejs.html" title="" target="_blank">介绍</a>
                    <a href="http://yepnopejs.com/" title="" target="_blank">yepnopejs</a>
                    <a href="http://blog.ericsk.org/archives/1444" title="" target="_blank">源码阅读</a>
                    <a href="http://modernizr.github.com/Modernizr/annotatedsource.html" title="" target="_blank">en-注释</a>
                    <a href="http://jokerliang.com/how-to-use-modernizr.html" title="" target="_blank">使用方法</a>
                </div>
            </div>
            <div class="list">
                <h1>Qwrap</h1>
                <div class="l-inner">
                    <a href="http://dev.qwrap.com/resource/js/_docs/_youa/#/content.htm" title="" target="_blank">API</a>
                    <a href="http://www.coolicer.com/modernizr%e5%92%8cyepnopejs.html" title="" target="_blank">介绍</a>
                    <a href="http://yepnopejs.com/" title="" target="_blank">yepnopejs</a>
                </div>
            </div>
            <div class="list">
                <h1>bootstrap</h1>
                <div class="l-inner">
                    <a href="http://wrongwaycn.github.com/bootstrap/docs/scaffolding.html" title="" target="_blank">bootstrap</a>
                </div>
            </div>
            <div class="list">
                <h1>massFramework</h1>
                <div class="l-inner">
                    <a href="http://rubylouvre.github.com/doc/index.html" target="_blank">rubylouvre</a>
                    <a href="https://github.com/RubyLouvre/mass-Framework/wiki/_pages" target="_blank">wiki</a>
                    <a href="https://github.com/RubyLouvre/mass-Framework/issues/24" target="_blank">issues</a>
                </div>
            </div>
            <div class="list">
                <h1>API</h1>
                <div class="l-inner">
                    <a href="http://dev.qwrap.com/resource/js/_docs/_youa/#/content.htm" target="_blank">qwarp</a>
                </div>
            </div>
        </div>
        <div class="content clearfix none">
            <div class="list">
                <h1>焦点图</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/NNUF/archive/2012/05/13/2497296.html" title="" target="_blank">焦点图</a>
                    <a href="http://marijnhaverbeke.nl/uglifyjs" title="" target="_blank">uglifyjs</a>
                    <a href="http://deerchao.net/tutorials/regex/regex.htm" title="" target="_blank">30正则</a>
                    <a href="http://javawind.net/tools/native2ascii.jsp?action=transform" title="" target="_blank">中文转Unicode</a>
                    <a href="http://tool.lanrentuku.com/zhuanhuan/" title="" target="_blank">懒人转换</a>
                    <a href="http://tool.css-js.com/" title="" target="_blank">css,js压缩工具</a>
                    <a href="http://www.ostools.net/" title="" target="_blank">开源中国在线工具</a>
                </div>
            </div>
        </div>
        <div class="content clearfix none">
            <div class="list">
                <h1>Focus</h1>
                <div class="l-inner">
                </div>
            </div>

        </div>
        <div class="content clearfix none">
            <div class="list">
                <h1>select</h1>
                <div class="l-inner">
                    <a href="http://www.cnblogs.com/NNUF/archive/2012/03/31/2427454.html" title="" target="_blank">select1</a>
                    <a href="http://bbs.blueidea.com/forum.php?mod=viewthread&tid=2741431" title="" target="_blank">select2</a>
                    <a href="http://www.cnblogs.com/chemandy/archive/2012/02/18/2356687.html" title="" target="_blank">suggest</a>
                    <a href="http://www.zhangjingwei.com/demo/jQuery.Select/index.html" title="" target="_blank">jquery</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../front/js/init/js.init.js"></script>
</body>
</html>